.blog-content{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 100px 0;
    background-color: #fff;
    align-items: center;
    justify-content: space-evenly;
}

.blog-left{
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bl-left h2{
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 5px;
    color: #5f68eb;
    line-height: 60px;
}
.bl-left h2 span{
    letter-spacing: 2px;
    color: #ee2c4c;
    font-weight: 200;
    margin-left: 80px;
}
.blog-left-line{
    width: 3px;
    height: 50%;
    background: linear-gradient(135deg, #ee2c4c,#5f68eb);
    border-radius: 50%;
}
.blog-right{
    width: 50%;
    justify-content: space-between;
}
/* Blog Cards */
.blog-box{
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    justify-content: space-evenly;
}
.box{
    width: 40%;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 5px -1px #000;
}
.box-content h4, h6, p{
    margin-bottom: 20px;
    text-align: justify;
}
.box-content h6{
    color: #000;
    font-size: 13px;
    font-weight: 200;
}
.box-content h4{
    color: #5f68eb;
    font-size: 18px;
    font-weight: 400;
}
.box-content p{
    color: #000;
    font-size: 15px;
    font-weight: 200;
}
.box-content a{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    color: #5f68eb;
    text-transform: capitalize;
}
.box-content a:hover{
    transition: color .3s ease;
    color: #ee2c6d;
}
/* Blog Pagation */
.sub-blog{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.sub-blog a{
    text-decoration: none;
    color: #5f68eb;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
.sub-blog a:hover{
    color: #ee2c4c;
    transform: translateY(-2px);
    transition: color .4s ease, transform .4s ease;
}


/* Mobile Designs */
@media (max-width:915px){
    
}