.blog-content{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.blog-left{
    width: 20%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.blog-left-line{
    width: 2px;
    height: 100%;
    background-color: #464CAC;
}
.blog-right{
    width: 50%;
    justify-content: space-between;
}

.blog-box{
    display: flex;
    margin-bottom: 5vh;
    width: 100%;
    justify-content: space-evenly;
}
.box{
    border: 1px solid #000;
    width: 40%;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 8px .5px #000;
}
.box-content h4, h6, p{
    margin-bottom: 1vh;
    text-align: justify;
}
.sub-blog{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vh;
    margin: 0 auto;

}
.sub-blog a{
    text-decoration: none;
    color: #464CAC;
    text-transform: uppercase;
    font-weight: 600;
}
.sub-blog a:hover{
    color: #000;
    transition: .3s ease;
}


/* Mobile Designs */
@media (max-width:915px){
    .blog-content{
        margin-top: 50px;
        width: 90%;
    }
    .blog-top-line{
        width: 40%;
        margin-bottom: 120px;
    }
    .blog-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{    
        width: 90%;
        margin-bottom: 80px;
    }
    .box-last{
        margin-bottom: 10px !important;
    }
    .hide-me{
        display: none;
    }
    .sub-blog{
        width: 100%;
    }
    .sub-blog a{
        text-decoration: none;
        color: #FEC10E;
        text-transform: uppercase;
        font-weight: 600;
    }
    .sub-blog a:hover{
        color: #fff;
    }
    .blog-top h4{
        font-size: 15px;
        letter-spacing: 4px;
        margin-bottom: 50px;
    }
    .blog-top h2{
        font-size: 20px;
        letter-spacing: 5px;
        margin-bottom: 80px;
    }
    .box-content h4{
        font-weight: 400;
    }
    .box-content h6{
        font-weight: 200;
    }
    .box-content p{
        font-weight: 200;
        font-size: 14px;
    }
}