.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 15vh auto;
}
.contact-main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contact-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
/* Contact Header */
.contact-header h1{
    font-size: 40px;
    font-weight: 300;
    color: #5f68eb;
    margin-bottom: 10px;
}
.contact-header p{
    font-size: 15px;
    font-weight: 200;
    color: #000;
    text-align: center;
}
/* Contact Main Header Content */
.contact-head{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* Contact Section Cards */
.contact-head p{
    font-size: 16px;
    font-weight: 300;
    color: #3e64ff;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 80px;
}
.contact-head p a{
    text-decoration: none;
    color: #3e64ff;
}
.bg-1{background: #fef4f5;}
.bg-2{background: #e9f0f8;}
.bg-3{background: #f7eaf4;}

/* Forms */
.contact-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: 100px;
}
.f1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}
.f1 input[type="text"], .f1 input[type="email"]{
    width: 48%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #ee2c4c;
    border-radius: 5px;
}
.f2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.f2 textarea{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #ee2c4c;
    border-radius: 5px;
    margin-bottom: 30px;
}


.f2 input[type="button"]{
    width: 20%;
    text-transform: capitalize;
    background-color: #5f68eb;
    color: #fff;
    border: 2px solid #5f68eb;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    font-size: 15px;
    font-weight: 300;
}
.f2 input[type="button"]:hover{
    background-color: transparent;
    color: #ee2c4c;
    border: 2px solid #ee2c4c;
    transition: all .3s ease;
}

/* Mobile Designs */
@media (max-width:915px){
    
}