/* Desktop Designs */
/* Header */
.header{
    display: flex;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 10px;    
}
.nav-desktop{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.nav-d-logo a{
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    color: #5f68eb;

}
.nav-d-logo a:hover{
    color: #ee2c4c;
    transition: color .3s ease;
}
.nav-d-links{
    display: flex;
}
.nav-d-links span a{
    text-align: center;
    text-decoration: none;
    color: #676765;
    margin-right: 50px;
}
.nav-d-links span a:hover{
    transition: all .3s ease;
    color: #5f68eb;
    padding-bottom: 5px;
    border-bottom: 2px solid #5f68eb;
}
#link-active{
    color: #5f68eb;
    padding-bottom: 5px;
    border-bottom: 2px solid #5f68eb;
}
#link-active:hover{
    color: #676765;
    padding-bottom: 2px;
    border-bottom: 2px solid #676765;
    transition: all .6s ease;
}
/* Footer */
/* Footer Left */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
    background: conic-gradient(#5f68eb,#ee2c4c);
}
.f-f-left{
    width: fit-content;
}
.f-f-left h3{
    font-size: 45px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.f-f-left p{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 50px;
}
.f-f-left a{
    text-decoration: none;
    color: #ffc107;
    padding: 10px 20px;
    border: 2px solid #ffc107;
    border-radius: 3px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}
.f-f-left a:hover{
    background-color: #FEC10E;
    color: #fff;
    transition: all .3s ease;
}
/* Footer Right */
.f-f-right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.foot-top{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.foot-top span a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 300;
}
.foot-top span:hover{
    transform: translateY(-2px);
    transition: transform .3s ease;
}
.foot-top span a:hover{
    color: #fff;
    font-weight: 400;
    transition: color .3s ease;
}
.foot-bottom{
    width: 50%;
    margin: 0 auto;
}
.foot-bottom span{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/* Mobile Designs */
/* Header Title */
.header-title-logo a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
}
 .nav{
    display: none;
}
 .mainMenu {
    display: flex;
    align-items: flex-start !important;
    list-style: none;
}
.mainMenu li{
    margin-left: 30px;
}
 .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
}
 .openMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.mainMenu .closeMenu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-bars{
    color: #000;
    outline: none;
}
.fa-times{
    color: #000;
    z-index: 2;
    outline: none;
}

/* Mobile Designs */
@media (max-width:915px) {
    .header{
        padding: 30px 30px;
        position: absolute;
        top: 0;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .nav-desktop{
        display: none;
    }
    /* Hamburger Menu */
     .mainMenu {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top .5s ease;
        background: conic-gradient(#ee2c4c,#5f68eb);
        display: none;
    }
    .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .openMenu {
        display: block;
    } 
    /* Footer */
    .footer{
        flex-direction: column;
    }
    .f-f-left{
        margin-bottom: 100px;
    }
    .f-f-left h3{
        font-size: 20px;
    }
    .f-f-left p{
        font-size: 14px;
    }
    .f-f-left a{
        font-size: 12px;
    }
    /* Footer Right */
    .f-f-right{
        width: 100%;
    }
}



