.hire-me-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    align-items: center;
}
.hire-me-top{
    text-align: center;
    margin-bottom: 100px;
}
.hire-me-top h2{
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 4px;
    color: #5f68eb;
    margin-bottom: 30px;
}
.hire-me-top p{
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #000;
}
/* Hire Me Main Container */
.hire-me-content-container{
    width: 80%;
    margin-bottom: 100px;
}
.hire-box-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 40px;
}
.hire-box1{
    box-shadow: 0 0 10px 1px #5f68eb, 0 0 10px 2px #ee2c4c !important;
}
.hire-box{
    width: 25%;
    text-align: justify;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px -1px #5f68eb;
}
.hire-box svg{
    width: 100%;
}
.hire-box-content h4{
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    color: #5f68eb;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.hire-box-content p{
    font-size: 15px;
    font-weight: 200;
    color: #110c0d;
    margin-bottom: 30px;
}
/* Sub Hire Me Content */
.sub-hire{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
    background: #e9f0f8;
}
/* Sub Hire Left Content */
.sub-hire-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#sub-hire-p{
    color: #5f68eb;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 30px;
}
.sub-hire-head h2{
    color: #ee2c4c;
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-weight: 200;
    line-height: 40px;
    margin-bottom: 15px;
}
.sub-hire-head h2 span a{
    text-decoration: none;
    color: #5f68eb;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-left: 50px;
    font-weight: 300;
}
.sub-hire-head h2 span a:hover{
    color: #FEC10E;
    margin-left: 60px;
    transition: color .3s ease, margin-left .4s ease;
}

.sub-hire-head p{
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-left: 50px;
    font-weight: 200;
}
/* Sub Hire Rigth Content */
.sub-hire-content{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.sub-hire-left, .sub-hire-right{
    width: 45%;
}
.sub-hire-box{
    padding: 30px;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: justify;
}
.sub-hire-box h2{
    font-size: 18px;
    font-weight: 400;
    color: #5f68eb;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.sub-hire-box h2 span{
    color: #ee2c4c;
}
.sub-hire-box {
    color: #000;
    font-size: 15px;
    font-weight: 200;
}
/* Mobile Designs */
@media (max-width:915px) {
   
}