.content{
    display: flex;
    width: 100%;
    align-items: center;
    height: 90vh;
}
.main-left{
    width: 20%;
    margin: 0 auto 0 100px;
}
.main-right{
    width: 50%;
    margin: 0 auto 0 50px;
}
.main-right h3{
    color: #464CAC;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}
.main-right h1{
    color: #292928;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.main-right p{
    color: #292928;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.home-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}
.home-links a{
    font-size: 16px;
    text-decoration: none;
    padding: 12px 20px;
    letter-spacing: 2px
}
.hl-special1{
    color: #464CAC;
    background-color: transparent;
    border: 2px solid #464CAC;
    border-radius: 3px;
}
.hl-special1:hover{
    color: #fff;
    background-color: #464CAC;
    transition: all .4s ease;
}
.hl-special2{
    color: #fff;
    background-color: #464CAC;
    border: 2px solid #464CAC;
    border-radius: 3px;
}
.hl-special2:hover{
    color: #464CAC;
    background-color: transparent;
    transition: all .3s ease;
}

/* Mobile Designs */
@media (max-width:915px) {
    .content{
        width: 100%;
    }
    .heading1{
        color: #D69F00;
        font-weight: 100;
        font-size: 20px;
        letter-spacing: 6px;
        /* line-height: 30px; */
        text-shadow: 1px 2px 6px #D69F00;
    }
    .heading2{
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 5px;
        margin-bottom: 20px;
        text-shadow: 1px 1px 4px #D69F00;
    }
    .lower-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .l-side input{
        margin-bottom: 10px;
    }
    .sub-email{
        text-align: center;
        
    }
    .l-side{
        text-align: center;
        width: 80%;
        margin-bottom: 30px;
    }
    .r-side{
        text-align: center;
        width: 70%;
    }
    .bottom{
        justify-content: space-evenly;
    }
}
