.head{
    display: flex;
    justify-content: space-between;
    padding: 5vh 5vw;
    /* background-color: #fff; */
}
.head-left-side, .head-right-side{
    display: flex;
}
.head-left-side li, .head-right-side li{
    list-style: none;
}
.head-left-side li a, .head-right-side li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
.head-left-side li a:hover, .head-right-side li a:hover{
   color: #75CDFF;
   transition: .4s;
}
.head-left-side li{
    margin-right: 2vw;
}
.head-right-side li{
    margin-left: 2vw;
}
.active-site{
    color: #75CDFF !important;
}
.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    /* border: 1px solid #000; */
}
.top-foot-content{
    width: max-content;
    margin-bottom: 20vh;
    text-align: center;
}
.top-foot-content h2{
    text-transform: capitalize;
    margin-bottom: 2vh;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
}
.l-top-foot-content{
    max-width: 65%;
    min-width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.l-top-foot-content a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.l-top-foot-content a:hover{
    color: #75CDFF;
    transition: .3s;
}
.line-foot-content{
    height: 1.5px;
    width: 100%;
    background-color: #000;
    margin-bottom: 2vh;
}
.lower-foot-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left-foot-side span{
    margin-right: 2vw;
}
.left-foot-side span a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-weight: 450;
}
.left-foot-side span a:hover{
    color: #75CDFF;
    transition: .4s;
}
.right-foot-side{
    display: flex;
}
.right-foot-side span{
    margin-left: 1vw;
}
.right-foot-side span:hover{
    border-bottom: 1.5px solid #75CDFF;
}

